
/* Set Pure Font Family */
html, button, input, select, textarea, a, p{
    /* Set your content font stack here: */
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
}
body, html {
  margin:0;
  padding: 0;
}
body {
  background: rgb(245, 248, 249);
  display: grid;
  grid-template-columns: 1fr 819.19px 1fr;
  display: -ms-grid;
  -ms-grid-columns: 1fr 819.19px 1fr;
  height: 100vh;
  width: 100vw;
}
p {
    line-height: 1.2em;
}

#wrapper {
    border-top: 3px solid #20b28b;
    height: calc(100% - 6px);
    margin: 0px auto;
    position: relative;
    z-index: 10;
}

#container {
    background: transparent;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#name {
    font-size: 2em;
    text-align: left;
}

#name a {
    text-decoration: none;
}

#decorator {
    background: #20b28b;
    height: 100px;
    left: -10px;
    position: absolute;
    top: 0px;
    width: 3px;

}
.center-col {
    -ms-grid-column: 2;
    grid-column: 2;
}
.clearfix {
    clear: both;
}

.profile-container {
    padding-top: 10px;
    display: block;
    text-align: center;
    max-height: 200px;
    overflow: hidden;
}

.profile-picture {  
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 100%);
    position: relative;
    padding: 3px;
    display: inline-block;
    border-radius: 50%;
}
