<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          I am a full-stack software developer from McMaster University with almost two years of professional experience using an Angular, C# .NET, Oracle PL/SQL stack with Azure user authentication and agile project management with JIRA.
        <p>
          I find myself working my best when I understand what problem I am trying to solve and keeping the end-game in mind along the way. As such, I consider keeping regular communications with clients and other developers a priority to ensure expectations are met and what is thought of current progress.
        </p>
        </p>
        <p>
          I am always interested in expanding my knowledge of technologies in this rapidly changing industry.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Accumulated five years of experience in object-oriented programming in Java, C#, Python, and TypeScript
    			</li>
          <li>
            Designed and developed Angular/C# .NET web apps to assign and manage monthly product quota, ensure validity of available product quota prior to sale, and create real-time data analytics from scratch
          <li>
            Assisted in agile project management in professional enviornment by administering JIRA scrum board
    			<li>
            Deploy multiple .NET Core services to AWS with Docker images
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
