<section id="bio">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Experience</h2>
				<hr>
			</div>
		</div>
		<div class="row">
				<div class="col-sm-6">
					<h3 style="margin-top:0">Professional Experience</h3>
					<ul>
						<li>
							Created SPA web apps using Angular/C# .NET, Oracle PL/SQL and Azure user authentication
						</li>
						<li>
							Assisted in agile project management using a JIRA scrum board
						</li>
						<li>
							Gathered requirements from clients and updated clients with current progress of apps regularly
						</li>
						<li>
							Upgraded web apps using Angular version2 to version 6
						</li>
					</ul>
				</div>
				<div class="col-sm-6">
					<h3 style="margin-top:0">Personal Projects</h3>
					<ul>
						<li>
							Pinpointr is a crowdsourcing and machine learning solution to creating optimised work schedules for custodial staff where I am responsible for maintaining a React/C# .NET Core/ PostgreSQL stack and deploying on AWS created for <a href="https://academiccalendars.romcmaster.ca/preview_course_nopop.php?catoid=32&coid=177788">capstone</a>
						</li>
						<li>
							Parking Finder is a PHP web app using JavaScript and CSS to locate nearby parking spaces and allow submission of new parking spaces and deployed on AWS created for <a href="https://academiccalendars.romcmaster.ca/preview_course_nopop.php?catoid=32&coid=177785">COMPSCI 4WW3</a>
						</li>
					</ul>
				</div>
		</div>
	</div>
</section>