<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Experimenting</b> with a variety of programming languages, frameworks, and technologies. I find learning different ways to solve the same problem interesting and valuable to stay on top with the constantly changing trends.
			  </li>
			  <li>
				  <b>Creation in general</b>. I have always enjoyed creating cool things through woodworking, welding, gardening, software, and hardware. I am always on the lookout for new in-home projects.
			  </li>
			  <li>
				  <b>Enjoying nature</b> by bouldering, photography, long hikes, and camping. I have been enjoying nature in everyway I can since I was child in Cub Scouts. I grew up on a back-country road with no neighbours and find getting lost in the woods to feel just like home.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          
    		</li>
  			<li>
          
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           
  			</li>
  			<li>
  			  
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
