<section class="success" id="projects">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Interests</h2>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h3 style="margin-top:0">Experimenting with New Tech</h3>
				<p>
					Experimenting with a variety of programming languages, frameworks, and technologies. I find learning
					different ways to solve the same problem interesting and valuable to stay on top with the constantly changing
					trends.
				</p>
				<h3 style="margin-top:0">Creation in General</h3>
				<p>
					I have always enjoyed creating cool things through woodworking, welding, gardening,
					software, and hardware. I am always on the lookout for new in-home projects.
				</p>
				<h3>Enjoying Nature</h3>
				<p>
					I love bouldering, photography, long hikes, and camping. I have been enjoying nature in
					everyway I can since I was child in Cub Scouts. I grew up on a back-country road with no neighbours and find
					getting lost in the woods to feel just like home.
				</p>
			</div>
		</div>
	</div>
</section>